@media screen and (min-width:320px) and (max-width:480px) {
    .circle_2 {
        position: absolute;
        width: 300px;
        height: 300px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: 35px;
        /* left: -485.81px; */
        top: 92.49px;
    }


    .circle_1 {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 20px;
        top: 900px;
    }

    .banner_button {
        width: 100%;
    }

    .banner_button h5 {
        font-size: 12px;
    }

    .banner_item h1 {
        font-size: 41px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 273px;
        /* text-align: center; */
        /* align-items: center; */
        height: 108px;
        left: 0;
        top: 1546px;
        /* margin: auto; */
        position: absolute;
        margin-left: 45px;
    }

    .help_section h2 {
        font-size: 23px;
        line-height: 37px;
        margin-top: 100px;
    }


    .help_item {
        width: unset;
        height: 345px;
        margin-top: 30px;

    }

    .complex_img {
        text-align: center;
    }

    #count {
        padding: 0;
    }

    .testimonial_item p {
        font-size: 10px;
        line-height: 18px;
    }

    .count_section .count_item .item_p {
        font-size: 10px;
    }

    .count_item {
        margin-bottom: 20px;
    }

    .count_section h3 {
        font-size: 30px;
    }

    .count_section p {
        font-size: 10px;
    }

    .testimonial_selector {
        margin-left: 0;
    }

    .text_item {
        margin-right: 10px;
    }

    .complex_item h2 {
        font-size: 40px;
    }

    .complex_item p {
        font-size: 20px;
    }

    #Product {
        padding: 15px;
        height: 350px;
    }


    #main_menu {
        margin: auto;
    }

    .nav_img_1 {
        margin: auto;
    }

    .help_item h6 {
        font-size: 15px;
    }

    #help {
        background: #F2F7FF;
        padding: 0px;
    }

    .testimonial_img {
        margin: 0;
    }

    .navbar-toggler {
        margin-left: 140px;
    }

    .nav_img_1 {
        margin: auto;
        margin-top: -32px;
    }
}

@media screen and (min-width:375px) and (max-width:480px) {
    .nav_img_1 {
        margin: auto;

        margin-top: -30px;
        margin-left: 257px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 273px;
        text-align: center;
        align-items: center;
        height: 108px;
        left: 0;
        top: 1505px;
        margin: auto;
        position: absolute;
        margin-left: 45px;
    }

    .testimonial_item {
        border-radius: 10px;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgb(41 41 42 / 7%);
        margin-top: 20px;
    }
}

@media screen and (min-width:734px) and (max-width:800px) {
    .circle_1 {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 162px;
        top: 1281px;
    }

    .circle_2 {
        position: absolute;
        width: 400px;
        height: 400px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: -34.81px;
        top: -55.51px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 382px;
        text-align: center;
        align-items: center;
        height: 114px;
        left: 164px;
        top: 1780px;
        position: absolute;
    }

    .count_section .count_item .item_p {
        font-size: 12px;
    }

    .count_section p {
        margin-bottom: 15px;
    }

    .complex_img {
        margin-top: 70px;
        text-align: center;
    }

    .navbar-toggler {
        margin-left: 300px;
    }

    .nav_img_1 {
        margin: auto;
        margin-top: auto;
        margin-left: auto;
        margin-top: -33px;
        margin-left: 430px;
    }

    .banner_item h1 {
        font-size: 61px;
    }
}

@media screen and (min-width:684px) and (max-width:720px) {
    .circle_2 {
        position: absolute;
        width: 400px;
        height: 400px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: 25.19px;
        top: 117.49px;
    }

    .circle_1 {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 100px;
        top: 1010px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 382px;
        text-align: center;
        align-items: center;
        height: 114px;
        left: 140px;
        top: 1775px;
        position: absolute;
    }

    .help_item {
        width: unset;
        height: 290px;
    }

    #help {
        background: #F2F7FF;
        padding: 85px 0px;
    }

    .count_section .count_item .item_p {
        font-size: 10px;
    }

    .complex_img {
        margin-top: 70px;
        text-align: center;
    }

    .banner_item h1 {
        font-size: 60px;
    }

    .navbar-toggler {
        margin-left: 300px;
    }

    .nav_img_1 {
        margin-left: 430px;
        margin-top: -40px;
    }
}

@media screen and (min-width:667px) and (max-width:710px) {
    .navbar-toggler {
        margin-left: 300px;
    }

    .nav_img_1 {
        margin-left: 430px;
        margin-top: -40px;
    }

    .banner_item h1 {
        font-size: 60px;
    }

    .circle_2 {
        position: absolute;
        width: 400px;
        height: 400px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: 25.19px;
        top: 117.49px;
    }

    .circle_1 {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 100px;
        top: 1010px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 382px;
        text-align: center;
        align-items: center;
        height: 114px;
        left: 140px;
        top: 1775px;
        position: absolute;
    }

    .help_item {
        width: unset;
        height: 290px;
    }

    #help {
        background: #F2F7FF;
        padding: 85px 0px;
    }

    .count_section .count_item .item_p {
        font-size: 10px;
    }

    .complex_img {
        margin-top: 70px;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:800px) {
    .circle_2 {
        position: absolute;
        width: 250px;
        height: 250px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: 43.19px;
        top: 37.49px;
    }

    .circle_1 {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 446px;
        top: 100px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 382px;
        text-align: center;
        align-items: center;
        height: 114px;
        left: 362px;
        top: 870px;
        position: absolute;
    }

    .help_item {
        width: 170px;
        height: 352px;
    }

    #help {
        background: #F2F7FF;
        padding: 85px 0px;
    }

    .help_section h2 {
        font-size: 35px;
    }

    .testimonial_selector {
        margin-left: 0;
        margin-top: 25px;
    }
}

@media screen and (min-width:1024px) and (max-width:1100px) {
    .circle_1 {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: rgba(110, 168, 255, 0.1);
        position: absolute;
        left: 478px;
        top: 61px;
    }

    .circle_2 {
        position: absolute;
        width: 400px;
        height: 400px;
        background: rgba(110, 168, 255, 0.1);
        border-radius: 50%;
        left: 95.19px;
        top: 106.49px;
    }

    .banner_text {
        background: #FFFFFF;
        border-radius: 10px;
        width: 382px;
        text-align: center;
        align-items: center;
        height: 114px;
        left: 615px;
        top: 930px;
        position: absolute;
    }
    .help_item {
        width: 200px;
        height: 325px;
    }

    #help {
        background: #F2F7FF;
        padding: 85px 0px;
    }
    .testimonial_selector {
        margin-left: 0;
        margin-top: 25px;
      }

}